<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::content})}">

<th:block th:fragment="content">
    <div class="container-xxl container-p-y text-center">
        <div class="misc-wrapper">
            <h2 class="mb-2 mx-2 text-danger" th:text="${errorTitulo} ?: 'Aviso del Sistema'">Aviso del Sistema</h2>
            <p class="mb-4 mx-2" th:text="${errorDetalle} ?: 'No posee permisos para realizar esta acción o el recurso no se encuentra disponible.'">
                Ha ocurrido un error en la solicitud.
            </p>
            <a th:href="@{/}" class="btn btn-primary">
                <i class="bx bx-home-circle me-1"></i> Volver al Inicio
            </a>
            <div class="mt-4">
                <img th:src="@{/assets/img/illustrations/page-misc-error-light.png}"
                     alt="Error"
                     width="350"
                     class="img-fluid" />
            </div>
        </div>
    </div>
</th:block>
</html>
